.note{
    display: flex;
    width: 100%;
    align-items: center;
}

.textNote{
    color: white;
    font-size: 50px;
    margin-bottom: 17px;
}

.textNoteMax{
    color: white;
    font-size: 16px;
}