<h2 class="title">
    Ajouter un groupe musculaire
</h2>
<div class="body">
    <form [formGroup]="formGroup" (ngSubmit)="add()">
        <div class="containerFormField">
            <mat-form-field hideRequiredMarker="true">
                <input matInput autocomplete="off" formControlName="name" required>
                <mat-placeholder [ngStyle]="{'color': formGroup.get('name')?.errors != null ? 'var(--red)' : 'white'}">Groupe musculaire *</mat-placeholder>
            </mat-form-field>
        </div>
        <div class="containerFormField">
            <div class="chipContainer">
                <mat-label>Zone</mat-label>
                <mat-chip-list formControlName="zone">
                    <mat-chip (click)="setZone('haut')">Haut<mat-icon matChipRemove style="color: var(--light-yellow); opacity: 1;" *ngIf="zone === 'haut'">check</mat-icon></mat-chip>
                    <mat-chip (click)="setZone('bas')">Bas<mat-icon matChipRemove style="color: var(--light-yellow); opacity: 1;" *ngIf="zone === 'bas'">check</mat-icon></mat-chip>
                </mat-chip-list>
            </div>            
        </div>
        <div class="containerFormField">
            <div class="uploadWrapper">
                <p>{{name}}</p>
                <input type="file" formControlName="image" (change)="setImage($event,'image')" multiple>
            </div>
            <div class="uploadWrapper">
                <p>{{schema}}</p>
                <input type="file" formControlName="schema" (change)="setImage($event,'schema')" multiple>
            </div>
        </div>
        <div class="submit">
            <button type="submit" mat-button>Terminer</button>
        </div>
    </form>
    <!-- <form style="display: flex; flex-direction: column; width: 100%; height: 38vh; justify-content: center; align-items: center;" [formGroup]="formGroup" (ngSubmit)="add()">
    <div class="form">
        <div class="champs">
            <mat-form-field>
                <input matInput autocomplete="off" placeholder="Nom" formControlName="name" required>
            </mat-form-field>
        </div>
        <div class="champs">
            <div style="display: flex; height: 70%; flex-direction: column; align-items: center; justify-content: space-around;">
                <mat-label>Zone</mat-label>
                <mat-chip-list formControlName="zone">
                    <mat-chip (click)="setZone('haut')">Haut<mat-icon matChipRemove style="color: var(--light-yellow); opacity: 1;" *ngIf="zone === 'haut'">check</mat-icon></mat-chip>
                    <mat-chip (click)="setZone('bas')">Bas<mat-icon matChipRemove style="color: var(--light-yellow); opacity: 1;" *ngIf="zone === 'bas'">check</mat-icon></mat-chip>
                </mat-chip-list>
            </div>
            
        </div>
        <div class="champs">
            <div class="uploadWrapper">
                <p>{{name}}</p>
                <input type="file" formControlName="image" (change)="setImage($event,'image')" multiple>
            </div>
        </div>
        <div class="champs">
            <div class="uploadWrapper">
                <p>{{schema}}</p>
                <input type="file" formControlName="schema" (change)="setImage($event,'schema')" multiple>
            </div>
        </div>
    </div>
    <div class="submit">
        <button type="submit" mat-button>Terminer</button>
    </div>
    </form> -->
</div>


