<h2 class="title">
    Ajouter un Exercice
</h2>
<mat-horizontal-stepper linear="false" #stepper="matHorizontalStepper">
    <mat-step [stepControl]="firstFormGroup">
        <form style="display: flex; flex-direction: column; width: 100%; height: 23vh; justify-content: center; align-items: center;" [formGroup]="firstFormGroup" (ngSubmit)="add()">
            <div class="form">
                <div class="champs">
                    <mat-form-field>
                        <input autocomplete="off" matInput placeholder="Nom" formControlName="name" required>
                    </mat-form-field>
                </div>
                <div class="champs">
                    <mat-form-field>
                        <input (input)="filterFamille($event)" type="text" class="auto" [matAutocomplete]="auto" matInput placeholder="Famille" formControlName="famille" required>
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of allFamilleFiltered" [value]="option.name">
                            {{option.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="champs">
                    <div class="uploadWrapper">
                        <p>{{name}}</p>
                        <input type="file" formControlName="image" (change)="setImage($event)">
                    </div>
                </div>
            </div>
        </form>
        <div class="footer">
            <button matStepperPrevious mat-button (click)="resetMuscle()"><mat-icon>keyboard_arrow_left</mat-icon></button>
            <button matStepperNext mat-button style="margin-left: 1vh;" (click)="resetMuscle()"><mat-icon>keyboard_arrow_right</mat-icon></button>
        </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form style="display: flex; flex-direction: column; width: 100%; height: 23vh; justify-content: center; align-items: center;" [formGroup]="firstFormGroup" (ngSubmit)="add()">
            <div style="width: 75%; display: flex; justify-content: space-between;">
                <div *ngIf="primary.length === 1"></div>
                <mat-icon *ngIf="primary.length > 1" (click)="decrement('primary')" >minimize</mat-icon>
                <mat-icon *ngIf="primary.length < 6" (click)="increment('primary')" >add</mat-icon>
            </div>
            <div class="form">
                <div class="champs" *ngFor="let muscle of primary; index as i;">
                    <mat-form-field>
                        <input (input)="filter($event,i)" [value]="primary[i]" type="text" class="auto" placeholder="Priorité" matInput [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setValue($event,'primary',i)">
                            <mat-option *ngFor="let option of allMuscleFiltered[i]" [value]="option.name">
                            {{option.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <div class="footer">
            <button mat-button matStepperPrevious (click)="resetMuscle()"><mat-icon>keyboard_arrow_left</mat-icon></button>
            <button mat-button matStepperNext (click)="resetMuscle()" style="margin-left: 1vh;"><mat-icon>keyboard_arrow_right</mat-icon></button>
        </div>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form style="display: flex; flex-direction: column; width: 100%; height: 23vh; justify-content: center; align-items: center;" [formGroup]="firstFormGroup" (ngSubmit)="add()">
            <div style="width: 75%; display: flex; justify-content: space-between;">
                <div *ngIf="secondary.length === 1"></div>
                <mat-icon *ngIf="secondary.length > 1" (click)="decrement('secondary')" >minimize</mat-icon>
                <mat-icon *ngIf="secondary.length < 6" (click)="increment('secondary')" >add</mat-icon>
            </div>
            <div class="form">
                <div class="champs" *ngFor="let muscle of secondary; index as i;">
                    <mat-form-field>
                        <input (input)="filter($event,i)" [value]="secondary[i]" type="text" class="auto" placeholder="Utilisé" matInput [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setValue($event,'secondary',i)">
                            <mat-option *ngFor="let option of allMuscleFiltered[i]" [value]="option.name">
                            {{option.name}}
                            </mat-option>
                        </mat-autocomplete>                    
                    </mat-form-field>
                </div>
            </div>
            <div class="footer">
                <button mat-button matStepperPrevious (click)="resetMuscle()"><mat-icon>keyboard_arrow_left</mat-icon></button>
                <button mat-button type="submit" style="margin-left: 1vh;">Terminer</button>
            </div>
        </form>
    </mat-step>
</mat-horizontal-stepper>

