.parent-div {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 180px;
}
.parent-div input[type=file] {
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    font-size: 90px;
}
.btn-upload {
    padding: 10px 25px;
    font-size: 14px;
    margin-top: 2%;
    width: 180px;
}

::ng-deep .add {
    width: 100%;
    .mat-focused .mat-form-field-label {
        color: black !important;
    }

    .mat-input-element {
        caret-color: black !important;
    }
    
    .mat-form-field-underline {
        /*change color of underline*/
        background-color: transparent;
    } 
    
    .mat-form-field-ripple{
        /*change color of underline when focused*/
        background-color: black !important;
    }
}